<mat-toolbar>
  <a *ngIf="(userIsLogged$ | async) === false" mat-button routerLink="/"
    >Home</a
  >
  <a mat-button routerLink="/signup">Register</a>
  <ng-container *ngIf="userIsLogged$ | async">
    <a mat-button routerLink="/create-product">Create product</a>
    <a mat-button routerLink="/create-deposit">Create deposit</a>
    <a mat-button routerLink="/products">List products</a>
    <a mat-button routerLink="/payable-titles">List payable titles</a>
    <a (click)="logout()" class="app__logout" mat-button>Logout</a>
  </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>
